<div class="col-lg-3 col-md-6">
    <a href="{{router.getPath('hr_moveToAudit')}}?stage=3">
    <div class="card-box widget-user" style="background-color: #f7c5e1;">
        <div class="text-center">
            <h2>{{ReceivedforAudit}}</h2>
            <h4>Received for Audit</h4>
        </div>
    </div>
    </a>
</div>
<!--
<div class="col-lg-2 col-md-6">
    <a href="{{router.getPath('hr_moveToAudit')}}?stage=6">
    <div class="card-box widget-user" style="background-color: #bbbde8;">
        <div class="text-center">
            <h2>{{Audited}}</h2>
            <h4>Audited</h4>
        </div>
    </div>
    </a>
</div>            
<div class="col-lg-2 col-md-6">
    <a href="{{router.getPath('hr_moveToAudit')}}?stage=8">
    <div class="card-box widget-user" style="background-color: #c6f7c5;">
        <div class="text-center">
            <h2>{{Validated}}</h2>
            <h4>Validated</h4>
        </div>
    </div>
    </a>
</div>            
-->