{% extends "app.twig" %}
{% block title %} Sales Report {% endblock %}
{% block page %}
        <div class="row m-b-15">                
            <div class="col-sm-12">
                <div class="project-sort">
                    <div class="project-sort-item">
                        <form class="form-inline" id="gridFilters" href="{{request.getPath()}}?action=load" method="post">
                            <div class="form-group col-md-2">
                                <label>Month :</label>                            
                                <select class="form-control input-sm" name="month" id="monthSelect">
                                    {{monthList|raw}}                            
                                </select>                            
                            </div>                                                   
                            <div class="form-group col-md-2">                            
                                <input type="hidden" name="action" value="load"/>
                                <input type="submit" class="btn btn-info" id="searchBtn" name="salesReport" value="View" />                             
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- end col-->
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box table-responsive">  
                    <table id="datagrid" class="table table-bordered nowrap buttonTable" cellspacing="0" width="100%" border="1" style="font-size: 12px;">
                    <thead>
                        <th>Date</th>
                        <th>Outlet</th>                        
                        <th>SE</th>
                        <th>Category</th>
                        <th>Product</th>
                        <th>Tag</th>
                        <th>Qty @ Rate</th>
                        <th>Sales</th>
                        <th>ORD/SORD</th>
                    </thead>
                    <tbody>
                        {% for rec in sales %}
                            <tr>
                                <td>{{rec.Date | date("m/d/Y")}}</td>
                                <td>{{rec.OutletTypeName}} : {{rec.OutletName}} {{rec.OutletCode}} </td>                                
                                <td>{{rec.Name}} | {{rec.EmployeeCode}}</td>
                                <td>{{rec.CategoryName}}</td>
                                <td>{{rec.ProductName}} {{rec.ProductSku}}</td>
                                <td>{{rec.TagName}}</td>
                                <td>{{rec.Qty}} @ {{rec.Rate}} </td>
                                <td>{{rec.Sales}}</td>
                                <td>{{rec.OrderNumber}} / {{rec.SoNumber}}</td>                                
                            
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    <button class="btn btn-warning waves-effect waves-light m-b-5" id="print"> <i class="fa fa-print"></i>Print</button>
                </div>
            </div>      
        </div>
{% endblock %} 
{% block script %}
    
 <script type ='text/javascript'>                
        
        $(document).ready(function(){            
            $("#print").on('click', function() {
                printData()
            });
        });
        function printData()
        {
           var divToPrint=document.getElementById("datagrid");
           newWin= window.open("");
           newWin.document.write(divToPrint.outerHTML);
           newWin.print();
           newWin.close();
        }
    </script>
{% endblock %} 