{% extends "reports/partials/partials.twig" %}

{% block content %}
    <div class="row text-center">
        <h3>{{ Title }}</h3>
    </div>
    <div class="col-md-12" style="margin-top:15px;overflow-x:auto;">
        <button id="sgpiBrandWiseDistributionBtnExport" class="btn btn-success"
                style="padding: 5px;width: 5%;margin-bottom: 10px;">Export
        </button>
        <table>
            <tr>
                <th>Sgpi Name</th>
                <th>Use Start Date</th>
                <th>Credits</th>
                <th>Debits</th>
                <th>Qty</th>
                <th>Voucher No</th>
                <th>Remark</th>
                <th>Outlet Name</th>
                <th>DcrDate</th>
                <th>Outlet type</th>
                <th>BeatName</th>
            </tr>
            {% for data in result %}
                <tr>
                    <td>{{ data['SgpiName'] }}</td>
                    <td>{{ data['UseStartDate'] }}</td>
                    <td>{{ data['Credits'] }}</td>
                    <td>{{ data['Debits'] }}</td>
                    <td>{{ data['Qty'] }}</td>
                    <td>{{ data['VoucherNo'] }}</td>
                    <td>{{ data['Remark'] }}</td>
                    <td>{{ data['OutletName'] }}</td>
                    <td>{{ data['DcrDate'] }}</td>
                    <td>{{ data['OutlettypeName'] }}</td>
                    <td>{{ data['BeatName'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}