{% extends "app.twig" %}
{% block title %} Beat Outlet Mapping - {{beat.BeatName}} | {{beat.BeatRemark}} | | {{beat.getTerritories().getTerritoryName()}} {% endblock %}
{% block page %}

<div class="row">
    <div class="col-sm-12 editable">
        <div class="card-box table-responsive">                        
            <div class="btn-group p-b-10 pull-right">                
                <a href="#" class="btn btn-success" id="btnSave"> Save </a>
            </div>
            <div class="clearfix"></div>
            <table id="mainTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>                                                
                        
                        <th>Type</th>
                        <th>OutletName</th>                        
                        <th>Contact</th>                        
                        <th>Class</th>
                        <th>VFq</th>
                        <th>Tags</th>
                        <th>Qualification</th>
                        <th>Enabled</th>
                    </tr>
                </thead>                                
            </table>
            
        </div>
    </div><!-- end col -->
        
</div>
<!-- end row -->
    
{% endblock %}
{% block script %}
    <script type ='text/javascript'>
        
    $dtable = "";
    
    $(document).ready(function(){   

    $dtable = $('#mainTable').DataTable({
            ajax: "{{request.getPath()}}?action=list",
            rowId: 'OutletId',            
            "columns": [                
                {"data" : "Type"},                
                {"data" : "OutletName"},                
                {"data" : "Contact"},                
                {"data" : "Class"},                
                {"data" : "VFq"},                                
                {"data" : "Tags"},                                
                {"data" : "Qualification"},                                
                {"data" : "Enabled",render: function ( data, type, row ) {                            
                        console.log(data);
                        // Dont Display
                        if(data == 2) {return row.Remark; }

                        $checked = ""; if(data == 1) { $checked = "checked"; }                        
                        return "<input type='checkbox' name = 'enabled[]' value='"+row.OutletId+"' "+$checked+" class='checkbox isEnabled'>";
                }},
                
            ],
            "fnDrawCallback": function(settings, json) {
                    
                setTimeout(function(){
                    startEditing();                        
                },1000);
                     
            },
            createdRow: function( row, data, dataIndex ) {
               
               if(data.LineId != undefined) { 
                    $(row).attr('lineid', data.LineId);                             
                }
            }
        });
        
       $("#btnSave").click(function(){
       
          $("#btnSave").html("Saving ...");
          $("#btnSave").attr("disabled","true");
          $data = [];                    
          $error = false;
          $dtable.$("tr").each(function(){
              
              $OutletId = $(this).attr("id");             
              $Enabled = $(this).find(".isEnabled").prop('checked');
              $LineId = $(this).attr("lineid");
              
              if($LineId == undefined) {$LineId = -1;}
              
              if($Enabled) {
                $row = { "OutletId" : $OutletId,"LineId" : $LineId};   
                $data.push($row);
              }
              
          });          
          
          
          if(!$error) {          
          $.ajax({
            type: "POST",
            dataType: "JSON",
            url: "{{request.getUri()}}?action=save",
            data : {data : $data},
            success: function(){
                
                $("#btnSave").html("Save");
                $("#btnSave").removeAttr("disabled");
                
                //reloadGrid();
                
            },
            
            });
           }
           else 
           {
                $("#btnSave").html("Save");
                $("#btnSave").removeAttr("disabled");
           }
          
          
       });

     }); 
    function startEditing()
    {
        $('#mainTable').editableTableWidget({ preventColumns: [ 1,2,3,4,5,6,8 ] });
                
        
        $('#mainTable td').on('focus',function(e) {        
            $(this).addClass("focus-cell");                    
        });
        
        $('#mainTable td').on('blur',function(e) {        
            $(this).removeClass("focus-cell");        
        });
        
        $('#mainTable td').on('change', function(evt, newValue) {
            
         $(this).parent("tr").css("color","darkred");
         $(this).parent("tr").attr("edited",true);
         //$(this).parent().find(".enabled").attr("checked");
         
        //return false; // reject change	
            
        });
        
        //$('#mainTable td')[3].focus();
            
    }
    function reloadGrid()
    {
        $dtable.ajax.reload();
        startEditing();
        
    }
    function newKeySaved()
    {
        $dtable.ajax.reload();
        startEditing();
    }
    </script>
    <style>

        .focus-cell {
            border-color: red !important;
         
        }
        
    </style>
{% endblock %}
