{% extends "app.twig" %}
{% block title %} Find Trips {% endblock %}
{% block page %}
        <div class="row m-b-15">                
            <div class="col-sm-12">
                <div class="project-sort">
                    <div class="project-sort-item">
                        <form class="form-inline" id="gridFilters" href="{{request.getPath()}}?action=load" method="post">
                            <div class="form-group col-md-2">
                                <label>Status :</label>                            
                                <select class="form-control input-sm" name="status" style="width:80%">
                                    {{status|raw}}                            
                                </select>                            
                            </div>                        
                            <div class="form-group col-md-2">
                                <label>From Date :</label>                            
                                <input class="form-control input-sm datepicker readonly" name="fromdate" type="text" {% if fromdate is defined %} value="{{fromdate}}"{%endif%} required="required">
                            </div>                        
                            <div class="form-group col-md-2">
                                <label>To Date :</label>                            
                                <input class="form-control input-sm datepicker readonly" name="todate"  type="text" {% if todate is defined %} value="{{todate}}"{%endif%} required="required">
                            </div>
                            {#<div class="form-group col-md-2">
                                <label>Currency :</label>                            
                                <select class="form-control input-sm" name="currency" id="currency">
                                    {{currency|raw}}                            
                                </select>                            
                            </div> #}
                            <div class="form-group col-md-2"  id="btnSearch">                            
                                <input type="hidden" name="action" value="load"/>
                                <input type="submit" class="btn btn-info" id="searchBtn" name="expenseReport" value="View" />                             
                                <a href="{{request.getPath()}}" class="btn btn-info" />Reset</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- end col-->
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box table-responsive">  
                    <table id="datagrid" class="table table-bordered nowrap buttonTable" cellspacing="0" width="100%" border="1" style="font-size: 12px;">
                        <thead>
                            {#<tr>
                                <th colspan="8" style="text-align:center;" style="font-size: 20px;">Summary Report | {{ reportname }}</th>
                            </tr>#}
                            {#<tr>
                                <th colspan="2">Employee Name</th>
                                <td colspan="6">{{Name}}</td>
                            </tr>
                            <tr>
                                <th colspan="2">Employee Code</th>
                                <td colspan="6">{{empcode}}</td>
                            </tr>
                            <tr>
                                <th colspan="2">Designation</th>
                                <td colspan="6">{{Designation}}</td>
                            </tr>
                            <tr>
                                <th colspan="2">State</th>
                                <td colspan="6">{{State}}</td>
                            </tr>
                            <tr>
                                <th colspan="2">Head Quarter/ Location</th>
                                <td colspan="6">{{Location}}</td>
                            </tr>
                            <tr>
                                <th colspan="2">Working Status</th>
                                <td colspan="6">{% if status == 9  %}<span class="label label-danger">No</span>{% else %}<span class="label label-success">Yes</span>{% endif %}</td>
                            </tr>
                            {% if costnumber %}
                            <tr>
                                <th colspan="2">Cost Center</th>
                                <td colspan="6">{{ costnumber }}</td>
                            </tr>
                            {% endif %}#}
                            <tr>
                                <th style="text-align:center;">Start Date</th>
                                <th style="text-align:center;">End Date</th>
                                <th style="text-align:center;">Employee</th>
                                <th style="text-align:center;">Type</th>
                                <th style="text-align:center;">Origin</th>
                                <th style="text-align:center;">Destination</th>
                                <th style="text-align:center;">Reason</th>
                                {#<th style="text-align:center;">Trip Status</th>#}
                                {#<th style="text-align:center;">Currency</th>#}
                            </tr>
                        </thead>
                        <tbody>
                            {% for t in trip%}
                            <tr>
                                <td style="text-align:center;">{{t.startDate}}</td>
                                <td style="text-align:center;">{{t.enddate}}</td>
                                <td style="text-align:center;">{{t.firstname}} {{t.lastname}} | {{t.empCode}}</td>
                                <td style="text-align:center;">{{t.type}}</td>
                                <td style="text-align:center;">{{t.origin}}</td>
                                <td style="text-align:center;">{{t.destination}}</td>
                                <td style="text-align:center;">{{t.reason}}</td>
                                {#<td style="text-align:center;">{{t.tripStatus}}</td>#}
                                {#<td style="text-align:center;">{{t.currency}}</td>#}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button class="btn btn-warning waves-effect waves-light m-b-5" id="print" > <i class="fa fa-print"></i>Print</button>
                </div>
            </div>      
        </div>
{% endblock %} 
{% block script %}
    
 <script type ='text/javascript'>                
        $moveUrl = "{{request.getPath()}}?action=getemp";
        $dtable = "";
        $(document).ready(function(){            
            $("#print").on('click', function() {
                printData()
            });
            $(".readonly").on('keydown paste', function(e){
                e.preventDefault();
            });
            $("#monthSelect").on('change', function() {
                
                $data = {month:$("#monthSelect ").val()};
                
                quickPost($moveUrl,$data,function(data){
                    
                    if(data.length > 0){
                        $("#empdropdown").show();
                        $("#btnSearch").show();
                        $('#empSelect').html("");
                        var toAppend = '';
                        for (var i = 0; i < data.length; i++) {
                            toAppend += '<option value="'+data[i]['empid']+'">'+data[i]['empName']+'</option>';
                        }
                        $('#empSelect').append(toAppend);
                    }else{
                        $("#empdropdown").hide();
                        $("#btnSearch").hide();
                    }
                });
            });
            $dtable = $('#datagrid').DataTable({
                
            });
        });
        function printData()
        {
           var divToPrint=document.getElementById("datagrid");
           newWin= window.open("");
           newWin.document.write(divToPrint.outerHTML);
           newWin.print();
           newWin.close();
        }
    </script>
{% endblock %} 