<div class="modal-dialog animated fadeInUp mediaManager">    
        <div class="modal-content">            
            <form data-ride="ajaxModalForm" data-validate ="parsley" class="form-horizontal" role="form" action="{{request.getUri()}}" method="post">
            
            <div class="modal-header"> <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">  Allocate Inventory : {{solid.Qty}} Required
                <div class="pull-right">
                    Search : <input type="text" id="searchInventory"/>
                    
                </div>
                </h4>
                
                </div>
            <div class="modal-body">                                                
                
                <table class="tablesaw m-t-20 table m-b-0 tablesaw-stack" data-tablesaw-mode="stack" id="inventory">
                                        <thead>
                                        <tr>
                                            <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist">Batch No</th>
                                            <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-sortable-default-col="" data-tablesaw-priority="3">Serail No</th>
                                            <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="2">InTransit</th>
                                            <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="2">Free</th>
                                            <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1">Allocate</th>                                            
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in inventory %}
                                                
                                                {% set max = solid.Qty %}
                                                {% if (item.Available < solid.Qty) %}
                                                    {% set max = 0 %}
                                                {% else %}}
                                                    {% set max = item.Available %}
                                                {% endif %}
                                                
                                        <tr>
                                            <td><b class="tablesaw-cell-label">{{ item.BatchNo }}</b></td>
                                            <td><b class="tablesaw-cell-label">{{ item.SerailNo }}</b></td>
                                            <td><b class="tablesaw-cell-label">{{ item.InTransit }}</b></td>
                                            <td><b class="tablesaw-cell-label">{{ item.Available }}</b></td>
                                            <td><b class="tablesaw-cell-label"><input type ="number" batch = "{{ item.BatchNo }}" 
                                                                                      serail ="{{ item.SerailNo }}"
                                                                                      class="alloc" value="0" max="{{ max }}"/></b></td>                                                                                        
                                            
                                        </tr>   
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                        <input type="hidden" id="allocation" name="allocation">
                {% set error = session.getFlash('error') %}
                    {% if error != "" %}
                    <div class="form-group text-center m-t-30">
                        <div class="col-xs-12">
                            <div class="alert alert-danger" role="alert">
                                {{error}}
                            </div>

                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="modal-footer"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                <button id="saveuser" name="buttonValue" value="allocate" type="submit" class="btn btn-primary">Allocate</button>                
                <button id="saveuser" name="buttonValue" value="delete" type="submit" class="btn btn-danger">DeAllocate</button>                
            </div>               
            </form>                        
        </div>
            
<script type="text/javascript">
       
       $requiredStock = {{solid.Qty}};
       
        $("#searchInventory").on("keyup", function() {
             var value = this.value.toLowerCase().trim();

            $("#inventory tr").each(function (index) {
                if (!index) return;
                $(this).find("td").each(function () {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);
                    return not_found;
                });
            });
        });
        
        $(".alloc").on("keyup",function(){
            $allocation = [];
            $totalAllocation = 0;
            $(".alloc").each(function (index,obj) {
                
                $value = ($(obj).val()*1);
                if($value > 0)
                {
                    $totalAllocation = $totalAllocation + $value;
                    if($totalAllocation > $requiredStock)
                    {
                        alert("Allocation cannot be more than required stock");
                        $(obj).val(0);
                        $allocation = [];
                        $totalAllocation = 0;
                        return false;
                    }
                    else 
                    {
                        $serial = $(obj).attr("serail");
                        $batch = $(obj).attr("batch");
                        $allocation.push({
                            "allocate" : $value, 
                            "serial" : $serial,
                            "batch" : $batch
                        });
                    }
                }
                
            });
            
            $("#allocation").val(JSON.stringify($allocation));            
            
        });

    
</script>            
        
</div>
    
{% block script %} {% endblock %}