{#{% extends "base.twig" %}#}
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="SalesKraft">
        <meta name="author" content="Archisys">

        <!-- App Favicon -->
        {#<link rel="shortcut icon" href="{{router.baseUrl('images/favicon.ico')}}">#}
        
        <!-- App title -->
        <title>{{site_title}}</title>
                        
         <!-- DataTables -->
        <link href="{{router.baseUrl('plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{router.baseUrl('plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
        
        <!-- Editatable  Css-->
        <link rel="stylesheet" href="{{router.baseUrl('plugins/magnific-popup/dist/magnific-popup.css')}}" />
        <link rel="stylesheet" href="{{router.baseUrl('plugins/jquery-datatables-editable/datatables.css')}}" />

        
        <!-- Treeview css -->
        <link href="{{router.baseUrl('plugins/jstree/style.css')}}" rel="stylesheet" type="text/css" />

        <link href="{{router.baseUrl('plugins/multiselect/css/multi-select.css')}}"  rel="stylesheet" type="text/css" />
        <link href="{{router.baseUrl('plugins/select2/dist/css/select2.css')}}" rel="stylesheet" type="text/css">
        <link href="{{router.baseUrl('plugins/select2/dist/css/select2-bootstrap.css')}}" rel="stylesheet" type="text/css">

        <!-- App CSS -->
        <link href="{{router.baseUrl('css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{router.baseUrl('css/core.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{router.baseUrl('css/components.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{router.baseUrl('css/icons.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{router.baseUrl('css/pages.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{router.baseUrl('css/menu.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{router.baseUrl('css/responsive.css')}}" rel="stylesheet" type="text/css" />                
        
        <link href="{{router.baseUrl('plugins/x-editable/dist/bootstrap-editable/css/bootstrap-editable.css')}}" rel="stylesheet" type="text/css">
        <link href="{{router.baseUrl('plugins/jquery-ui/jquery-ui.min.css')}}" rel="stylesheet" type="text/css" />

        <link href="{{router.baseUrl('plugins/bootstrap-daterangepicker/daterangepicker.css')}}" rel="stylesheet">
        <link href="{{router.baseUrl('plugins/timepicker/bootstrap-timepicker.min.css')}}" rel="stylesheet">    
        
        <link href="{{router.baseUrl('plugins/toastr/toastr.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{router.baseUrl('plugins/switchery/switchery.min.css')}}" rel="stylesheet" />
        <link href="{{router.baseUrl('plugins/morris/morris.css')}}" rel="stylesheet" />
        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <link href="{{router.baseUrl('css/custom.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{router.baseUrl('plugins/fileuploads/css/dropify.min.css')}}" rel="stylesheet" type="text/css" />

        <script src="{{router.baseUrl('js/modernizr.min.js')}}"></script>
        
        <link href="{{router.baseUrl('css/jquery-confirm.css')}}" rel="stylesheet" />
        
        <!-- Chart JS -->
        <script src="{{router.baseUrl('plugins/chart.js/chart.min.js')}}"></script>
        <!-- Tour css -->
        <link href="{{router.baseUrl('plugins/hopscotch/css/hopscotch.css')}}" rel="stylesheet" type="text/css" />
        

        <style>
            .backbtnhide{display: none !important}
        </style>
    </head>
{% block content %}
    
	<div class="account-pages"></div>
        <div class="clearfix"></div>
        <div class="wrapper-page">
            <div class="text-center">
                <a href="{{router.baseUrl('')}}" class="logo"><img src="{{router.baseUrl()}}images/logo.png" style="height: 105px;"></a>
                {#<h1 class="text-uppercase font-bolder">Akums</h1>#}
                {#<h5 class="m-t-0 font-600">Simple & Easy Expense Management</h5>#}
            </div>
        	<div class="m-t-40 card-box" style="box-shadow: 0 0px 24px 0 rgba(44, 41, 41, 0.76), 0 1px 0px 0 rgba(0, 0, 0, 0.02);">
                <div class="text-center">
                    <h4 class="text-uppercase font-bold m-b-0" style="color: #000000;">Sign In</h4>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal m-t-20" action="{{router.getPath('login')}}" method="post">

                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required="" name="username" placeholder="Email">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" required="" name="password" placeholder="Password">
                            </div>
                        </div>
                        

                        <div class="form-group text-center m-t-30">
                            <div class="col-xs-12">
                                <input type="hidden" id="fcmtoken"  name="fcmtoken" value="">
                                <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" id="btnLogin" type="submit">Log In</button>                                
                            </div>
                        </div>
                        {% set error = session.getFlash('error') %}
                        {% if error != "" %}
                        <div class="form-group text-center m-t-30">
                            <div class="col-xs-12">
                                <div class="alert alert-danger" role="alert">
                                    {{error}}
                                </div>
                                
                            </div>
                        </div>
                        {% endif %}
                        
                        <div class="form-group m-t-30 m-b-0">
                            <div class="col-sm-12">
                                <a href="{{router.getPath('forgotPwd')}}" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="row text-center">
                <img src="{{router.baseUrl()}}{{ dir }}{{ timestamp }}.png" style="height: 200px;">        
            </div>
        </div>
        
{% endblock %}

{% block script %}
<style>
    .widget-user .wid-u-info {
        margin-left: 46px;
    }
</style>
<script type="text/javascript">
    
    function FCMTokenCallBack($data)
    {
        var $fcm = JSON.parse($data);
        //alert($fcm.data);
        $("#fcmtoken").val($fcm.data);
    }
    $(document).ready(function(){
             
        CallBackMobilePar('FCMToken','FCMTokenCallBack');                               
        
    });

     


</script>
{% endblock %}
