{% extends "app.twig" %}
{% block title %} Expenses {% endblock %}
{% block page %}

<div class="row">   
    <div class="col-sm-4">            
        {% if isNotTop and defaultEmp == 0%}            
        <a href="{{router.getPath('ess_expenseForm',{id:0})}}" class="btn btn-success m-b-20"><i class="zmdi zmdi-plus"></i> Add Expenses</a>
        {%elseif defaultEmp != 0 %}
            <h4 class="p-l-r-10">{{selectedEmployee.FirstName}} {{selectedEmployee.LastName}} {{selectedEmployee.EmployeeCode}}</h4>
        {% else %}    
            <div class="clearfix p-20"></div>
        {% endif %}
    </div> 
     <div class="col-sm-8">
            {% if defaultEmp == 0 %}
            <div class="project-sort pull-right">
                <div class="project-sort-item">
                    
                    <form class="form-inline" id="gridFilters">
                        <div class="form-group">
                            <label>Filter By :</label>
                            <select class="form-control input-sm" id="StatusList" name="status"  style='width: 180px!important;'>
                                {% if isNotTop %}            
                                <optgroup label="My Expenses">
                                    
                                    <option value="1" id="sel1">Created</option>
                                    <option value="2" id="2">Submited</option>
                                    <option value="3" id="3">Approved</option>
                                    <option value="4" id="4">Rejected</option>
                                    <option value="7" id="5">Cancelled</option>                                    
                                    <option value="A">-- ALL --</option>
                                    <optgroup label="Team Expenses">
                                    <option value="P" {% if page == "P" %} selected="selected" {% endif %}>--To be Approved by Me--</option> 
                                     </optgroup>
                                    {% endif %}
                                    {#<option value="10">Proceed for Payment</option>#}
                                </optgroup>
                                 
                                    {% if isTopLevel %}
                                    <option value="A">-- ALL --</option>
                                    <option value="1" id="sel1">Created</option>
                                    <option value="2" id="2">Submited</option>
                                    <option value="3" id="3">Approved</option>
                                    <option value="4" id="4">Rejected</option>
                                    <option value="7" id="5">Cancelled</option>                                    
                                    {% endif %}
                                    
                            </select>
                        </div>
                         {% if isNotTop %}
                        <div class="form-group" id="empform" {% if(page !="P" and isNotTop) %} style="display: none" {% endif %}>
                            <label>Employee :</label>
                            <select class="form-control input-sm" id="employeeList" name="employee">                                
                                
                                
                                 {%for state in empList %}
                                 <option value="{{state.id}}" {% if empListid == state.id %} selected="selected" {%endif%} >{{state.name}}</option>
                                 {%endfor%}
                               
                            </select>
                        </div> 
                        {% endif %}
                         {% if isTopLevel %}
                       
                        <div class="form-group" id="orgdiv" >
                            <label>OrgUnit :</label>
                            <select class="form-control input-sm" id="orglist" name="orgdivison">                                 
                                
                                <option value="0" selected="selected">-- ALL --</option>
                                 {%for org in OrgUnit %}
                                 <option value="{{org.id}}" {% if empListid == org.id %} selected="selected" {%endif%} >{{org.name}}</option>
                                 {%endfor%}
                               
                            </select>
                        </div> 
                        {% endif %}
                            <input type="hidden" name="month" id="month" value="{{setcurrntmonth}}" selectedMonth="{{setcurrntmonth}}">    
                        {#<div class="form-group">
                            <label>Month :</label>                            
                            <select class="form-control input-sm" name="month" id="month">
                                {{monthList|raw}}                            
                            </select>
                        </div>#}
                    </form>
                    
                </div>
            </div>
            {% else %}                   
                <form class="form-inline" id="gridFilters">
                    <div class="form-group">
                            <label>Status :</label>
                            <select class="form-control input-sm" id="StatusList" name="status">
                               
                                                           
                                    <option value="A">-- ALL --</option>
                                    <option value="PA" {% if page == "PA" %} selected="selected" {% endif %}>--Pending For Approval--</option>
                               
                            </select>
                        </div>
                    <input type="hidden" value="{{defaultEmp}}" name="employee">
                    <input type="hidden" name="month" id="month" value="{{setcurrntmonth}}" selectedMonth="{{setcurrntmonth}}">    
                </form>
                
            {% endif %}
            
            
        </div><!-- end col-->
</div>    
    
<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">            
            {%  for key,val in monthLists  %}
                <button type="button" name="btnmonth" value="{{key}}" class="btn waves-effect w-md waves-light m-b-5 btnmonth" btnmonth="{{key}}" btnval="{{val}}">{{val}}
                    {# <span class="btn_{{val}}">(0)</span> #}
                </button>
            {% endfor%}
            <div class="btn-group m-b-30"></div>
            <table id="datagrid" class="table table-striped table-bordered dt-responsive nowrap buttonTable" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th><input type='checkbox' class='checkall' onclick="checkToggle()" /></th>
                        <th>Designation</th>
                        <th>Employee</th>
                        <th>Remark</th>
                        <th>Employee HQ</th>
                        <th>Requested</th>
                        <th>Approved</th>   
                        <th>Audited</th>
                        <th>View</th>
                    </tr>
                </thead>                                
            </table>
            <div class="">
                    {%if monthlySubmissions == true%}
                            
                            <a href="#" onclick="return myFunction()" class="congpoup btn btn-default " id="expansesSubmit">Submit for Approval</a>
                        
                             <a href="#" class="btn btn-default bulkActions hide cssbuttongo" matchStatus = "1" moveStatus="2" id="expansesSubmit">Submit for Approval</a>
                     {%else%}
                     <a href="#" class="btn btn-default bulkActions" matchStatus = "1" moveStatus="2" id="expansesSubmit">Submit for Approval</a>
                     {%endif%}
                    {#{% if isTopLevel %}#}
                    {% if role == 'NSM' %}
                            <a href="#" class="btn btn-default bulkActions" matchStatus = "P" moveStatus="3">Approve</a>
                    {% else %}
                            <a href="#" class="btn btn-default bulkActions" matchStatus = "P" moveStatus="3">Approve</a>
                    {% endif %}
                    <a href="#" class="btn btn-default bulkActions" matchStatus = "P" moveStatus="4">Reject</a>
                    <a href="#" class="btn btn-default bulkActions" matchStatus = "PA" moveStatus="3">Approve</a>
                    <a href="#" class="btn btn-default bulkActions" matchStatus = "PA" moveStatus="4">Reject</a>
                    <a href="#" class="btn btn-default bulkActions" matchStatus = "4" moveStatus="1">Re Open</a>
{#                    {%endif%}#}
                </div>
        </div>
    </div>
</div>
{% if isTopLevel %}
        <input type="hidden" id="show" value="1">
        {% else %}
        <input type="hidden" id="show" value="0">
        {% endif %}

{%if monthlySubmissions == true %}
<style>
    td.select-checkbox {
    display: none !important;
}

</style>{%endif%}
{% endblock %}
{% block script %}
    <script>
     
        $dataUrl = "{{request.getPath()}}?action=list";
        $bulkUrl = "{{request.getPath()}}?action=bulk";
        $quickUrl = "{{request.getPath()}}?action=quickView&expid=";
        $deleteUrl = "{{request.getPath()}}?action=deleteExp&expid=";
        $statusList = {{statusList|json_encode|raw}};
        {#$submitCurrentMonth = {{ config["ESS"]['submitCurrentMonth'] ? 'TRUE' : 'FALSE' }};#}
        $submitCurrentMonth = {{ monthlySubmissions |json_encode|raw }};
        $minimumClaimAmount = {{config["ESS"]['minimumClaimAmount']|json_encode}}
        var $grid = "";
        var $trips;
        jQuery.extend( jQuery.fn.dataTableExt.oSort, {
        "date-uk-pre": function ( a ) {
            var ukDatea = a.split('/');
            return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
        },

        "date-uk-asc": function ( a, b ) {
            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
        },

        "date-uk-desc": function ( a, b ) {
            return ((a < b) ? 1 : ((a > b) ? -1 : 0));
        }
        } );

        $(document).ready(function(){
            var showValue = document.getElementById("show").value;
            if (localStorage.getItem("monthbtn") != null) {
                $curmonth = localStorage.getItem('monthbtn');
                $("#month").val($curmonth);
            }
             let StatusListexp =  localStorage.getItem("StatusListexp") 
             let exporglist =  localStorage.getItem("exporglist") 
                if(StatusListexp != null || exporglist != null){               
                    $("#StatusList").select2("destroy").select2();
                    $('#StatusList').val(StatusListexp).trigger('change'); 
                     $("#orglist").select2("destroy").select2();
                    $('#orglist').val(exporglist).trigger('change'); 
                }
            var dt = new Date();
            
            $("#StatusList").change(function(){
               if($(this).val() == "P"){
                   $("#empform").show();
               }else{
                   $("#empform").hide();
               } 
            
            });
            $curmonth = $("#month").val();
            $( ".btnmonth" ).each(function( index ) {
                $a = $(this).attr("btnmonth");
                if (localStorage.getItem("monthbtn") != null) {
                    $curmonth = localStorage.getItem('monthbtn');
                }
                if($curmonth == $a){
                    $(this).addClass("btn-success");
                    loadGrid();
                }
            });
            $("#gridFilters select").change(function(){ 
                 let StatusListexp = $("#StatusList").val();
                 let exporglist = $("#orglist").val();                
                   if((StatusListexp !=undefined && StatusListexp !='') || (exporglist !=undefined && exporglist !='')){
                     localStorage.setItem("StatusListexp", StatusListexp)   
                     localStorage.setItem("exporglist", exporglist)  
                   } 
                loadGrid();
            });
  
             $(".btnmonth").click(function(){
                $(".btnmonth").removeClass("btn-info");
                $(".btnmonth").removeClass("btn-success");                
                $(this).addClass("btn-success");
                $month = $(this).attr("btnmonth");
                $("#month").val($month);
                localStorage.setItem('monthbtn', $month);                
                $curmonth = $month;                
                $btnval = $(this).attr("btnval");                
                loadGrid();
            });

            $grid =  $('#datagrid').dataTable({
              
                "aoData": {"data":[]}, 
                "aoColumns": [
                                        
                    { "data": "ExpId","render": function ( data, type, row ) {                            
                            
                            $sl = $("#StatusList").val();                            
                            if($sl == "1" ||$sl == "4" || $sl == "P" || $sl == "PA") {
                                // && row.ExpenseAdditionalAmt == 0
                                var dts = new Date(row.ExpenseDate);
                                $creMonth = dts.getMonth()+1;
                                $nextMonth = dt.getMonth()+1;
                                
                                if($creMonth != $nextMonth) {
                                    if(row.ExpenseReqAmt >= $minimumClaimAmount){
                                        return "<input type='checkbox' name='checkboxcked' ExpId = "+data+" class='nodeCheckbox'/>";
                                    }else{
                                        return "";
                                    }
                                }else if($submitCurrentMonth){                                                     
                                    if(row.ExpenseReqAmt >= $minimumClaimAmount){                                        
                                        return "<input type='checkbox' name='checkboxcked' ExpId = "+data+" class='nodeCheckbox' {%if monthlySubmissions == true %} checked {% endif%}/>";
                                    }else{
                                        return "";
                                    }
                                }else {                                    
                                    return "";
                                }
                            }
                            else 
                            {
                                return "";
                            }
                        }, 
                    },
                    { "data" : "EmployeeId" ,render: function ( data, type, row ) {  
                        return row.Designation;
                }},
                { "data" : "EmployeeId" ,render: function ( data, type, row ) {                            
                        return row.FirstName + " " + row.LastName + " | "+ row.EmployeeCode;
                }},
                    { "data" : "EmployeeId" ,render: function ( data, type, row ) {

                            return row.Remark;
                        }},
                { "data" : "EmployeeId" ,render: function ( data, type, row ) {                            
                        return row.TownName;
                }},
                { "data" : "EmployeeId" ,render: function ( data, type, row ) {                      
                        return row.ExpenseReqAmt;
                }},
                { "data" : "EmployeeId" ,render: function ( data, type, row ) {                      
                        return row.ExpenseApprovedAmt;
                }},
                { "data" : "EmployeeId" ,render: function ( data, type, row ) {       
                        return row.ExpenseFinalAmt;                     
                       
                }},
                 { "data" : "EmployeeId" ,render: function ( data, type, row ) { 
                    if(showValue == 1){
                        return "<a href='{{router.getUrl()}}/hr/audit?month="+$curmonth+"&status="+row.ExpenseStatus+"&employee="+row.EmployeeId+"&cur="+0+"&orgunit="+row.OrgUnitId+"&action=load'><i class='fa fa-eye'></i></a>" ;}
                     else{
                        return "-" ;
                     }
                 }}
                ],
                
                select: true,

                'order': [1, 'asc'],
                "rowCallback": function( row, data, dataIndex ) {
                        
                    $(row).attr("ExpId",data.ExpId);
                    if(data.ExpenseAdditionalAmt > 0) {
                        $(row).addClass("danger");
                    }
                    
                },
                 
            });
             loadGrid();            
            
            datatableCheckboxManager($grid);
            

            $(".bulkActions").click(function(){
                
                $moveStatus = $(this).attr("moveStatus");
                $month = $("#month").val();
                $empId = $("#employeeList").val();
                var rows = $grid.fnGetNodes();
                var ExpId = [];
                $('input[type="checkbox"]:checked', rows).each(function(idx,obj){
                                        
                    ExpId.push($(obj).attr('ExpId'));                    
                });
                if(ExpId.length > 0)
                {
                    quickPost($bulkUrl,{"ExpId" : ExpId,"moveStatus":$moveStatus,"month":$month,"empId":$empId},function(res){
                       loadGrid(); 
                       
                        if($moveStatus == 3)
                        {
                            if(res.status == 1){
                                toastr["info"]("Expenses have been approved and Pending for Audit");
                            }else if(res.status == 0){
                                toastr["info"]("Please pick all expenses and then give your approval.");
                            }else{
                                toastr["error"]("Expenses can not be approved as balance is not sufficient");
                            }
                            
                        }
                        else if($moveStatus == 2)
                        {
                            toastr["info"]("Your Expenses have been submitted for approval");
                        }
                        else if($moveStatus == 4)
                        {
                            toastr["error"]("Expenses have been rejected");
                        }
                        
                    });
                }else{
                    toastr["error"]("Please select atleast one expense.");
                }
            });
                     
            
            {% if setMonth %} 
                    
                $("#month").val("{{setMonth}}");                
                $("#empform").val("{{emp}}");
                
            {% endif %}
                
            {% if setApprove %} 
                    
                //$setStatus = $("#StatusList").val();
                console.log("#sel"+"{{setStatus}}");
                $("#"+"{{setStatus}}").attr("selected","selected");
                $("#StatusList").trigger("change");
            
            {% endif %}
            
        
            $('#datagrid tbody').on('click', 'tr', function () {
                var expid = $(this).attr("expid");
                $('#datagrid tr').removeClass("selected");
                $(this).addClass("selected");
                quickExpView(expid);
            } );
            
        });
       
      
      function loadGrid()
      {
          $(".bulkActions").hide();
          showLoader();
          //console.log($("#gridFilters").serialize());
          quickPost($dataUrl,$("#gridFilters").serialize(),function(res){
                            
                $.each(res.count,function(idx,val){                    
                    $(".btn_"+idx).html("("+val+")");                    
                    
                });
                $trips = res.trips;
                $('#datagrid').dataTable().fnClearTable();
                
                
                if(res.list.length > 0) {
                    
                    $('.congpoup').show();
                    $('#datagrid').dataTable().fnAddData(res.list);
                    $status = $("#StatusList").val();
                    $(".bulkActions[matchStatus="+$status+"] ").show();
                    $month = $("#month").val().split("|");
                    var dt = new Date($month[0]);
                    var dts = new Date();
                    $creMonth = dts.getMonth()+1;
                    $nextMonth = dt.getMonth()+1;
                    var Estatus = JSON.stringify(res.list[0]["ExpenseStatus"]);
                    if($creMonth != $nextMonth) {
                                                                        
                        if($status != "P")
                        {
                            $("#expansesSubmit").show();
                            
                        }                        
                        
                    }
                    else if($submitCurrentMonth){
                        if($status == "P" || $status == "PA")
                        {
                            $("#expansesSubmit").hide();
                            
                        }else{
                            $("#expansesSubmit").show();
                            
                        }
                    }else{
                        $("#expansesSubmit").hide();
                    }
                    $StatusList = $("#StatusList").val()
                    if($StatusList == "3"){
                        $("#expansesSubmit").hide();
                        $('.congpoup').hide();
                    }
                    if($StatusList == "2"){
                        $("#expansesSubmit").hide();
                        $('.congpoup').hide();
                    }
                    if($StatusList == "1"){
                        $("#expansesSubmit").hide();
                        $('.congpoup').hide();
                    }
                    if($StatusList == "7"){
                        $("#expansesSubmit").hide();
                        $('.congpoup').hide();
                    }
                    if($StatusList == "8"){
                        $("#expansesSubmit").hide();
                        $('.congpoup').hide();
                    }
                    if($StatusList == "A"){
                        $("#expansesSubmit").hide();
                        $('.congpoup').hide();
                    }
                    if($StatusList == "P"){

                        $('.congpoup').hide();
                        if(Estatus == 3){
                           
                            $('.bulkActions').hide()
                        }
                        if(Estatus == 10){
                            $('.bulkActions').hide()
                        }
                        
                    }
                    
                }else{
                     $('.congpoup').hide();
                }
               
                closeQuickView();
                hideLoader();
          });
          
      }
      
    $( document ).ready(function() {

        $("input:checkbox[class=datatableCheckbox]:checked").each(function () {
            $('.sorting_disabled').hide();
            $('td.select-checkbox').hide();
        });

    });
        
    function myFunction() {    
        if(confirm('This is the final submission of the month - Do you want to submit the expense?')) {        
         $('.cssbuttongo').trigger('click');
         //$('.congpoup').hide();
        }        
     }
    function deleteExpense($expid,$msg)
    {
        if(confirm($msg)) {        
            
            $.get($deleteUrl+$expid,function(data){
                showLoader();
                $("#expenseList").removeClass("col-md-8").addClass("col-md-12");
                $("#expenseQuickView").html("");
                $("#expenseQuickView").hide();  
                $('#datagrid tr').removeClass("selected");
                loadGrid();
                hideLoader();        
            });
        
        }        
    }
    function quickExpView($expid)
    {
        if($expid > 0 ) 
        {                    
            showLoader();
            $.get($quickUrl+$expid,function(data){

                $("#expenseList").removeClass("col-md-12").addClass("col-md-8");
                $("#expenseQuickView").html(data);
                $("#expenseQuickView").show();        
                hideLoader();

            });
        
        }
    }
    
    function closeQuickView()
    {
            $("#expenseList").removeClass("col-md-8").addClass("col-md-12");
            $("#expenseQuickView").html("");
            $("#expenseQuickView").hide();  
            $('#datagrid tr').removeClass("selected");
    }

    </script>
<style>
        
    #datagrid tbody tr 
    {
        cursor: pointer;
    }
    #datagrid tbody tr:hover
    {
        background-color: #fff9d1;
    }
    #datagrid tbody tr.selected
    {
        background-color: #fff9d1;
    }
    
</style>


{% endblock %}
