{% extends "app.twig" %}

{% block title %} {{title}} {% endblock %}
{% block page %}    

<div class="row">
    
    <div class="col-sm-7">        
        <div class="card-box table-responsive">            
            <div class="col-sm-12 p-0">
                <div class="col-sm-2">    
                    <a href="{{request.getPath()}}?action=form&pk=0" data-toggle="ajaxModal" class="btn btn-success" id="btnAddPrimary"><i class="zmdi zmdi-plus"></i> Expense Heads </a>                                                                        
                </div>                                                                 
                
            </div>
            <div class="clearfix p-b-10"></div>

            <table id="expenseDatagrid" class="table  table-bordered dt-responsive nowrap buttonTable" cellspacing="0" width="100%">
                <thead>
                    <tr>                        
                        
                        <th>Title</th>
                        <th>Policy</th>
                        <th>Trips</th>
                        <th>Mandatory</th>                        
                        <th>Action</th>
                    </tr>
                </thead>
                                
            </table>
        </div>
    </div><!-- end col -->    
    
    <div class="col-sm-5">        
        <div class="card-box table-responsive">            
            <div class="col-sm-12 p-0">
                <div class="col-sm-2">    
                    <a href="{{router.getPath("hr_budgetGroups")}}?action=form&pk=0" data-toggle="ajaxModal" class="btn btn-success" id="btnAddPrimary"><i class="zmdi zmdi-plus"></i> Purpose (Categories)</a>                                                                        
                </div>                                                                 
                
            </div>
            <div class="clearfix p-b-10"></div>

            <table id="budgetDatagrid" class="table  table-bordered dt-responsive nowrap buttonTable" cellspacing="0" width="100%">
                <thead>
                    <tr>                        
                        
                        <th>Title</th>
                        {#<th>Purpose Code</th>#}
                        <th>Notes</th>
                        <th>Status</th>                        
                        <th>Budget</th>                        
                        <th>Action</th>
                    </tr>
                </thead>
                                
            </table>
        </div>
    </div><!-- end col -->    
    
</div>    
                        
{% endblock %}
{% block script %}
<script type="text/javascript">
    
    $expenseDatagrid = "";
    $expenseForm = "{{request.getPath()}}?action=form&pk=";
    $DataTableUrl = "{{request.getPath()}}?action=list";
    
    $budgetDatagrid = "";
    $budgetForm = "{{router.getPath("hr_budgetGroups")}}?action=form&pk=";
    $budgetUrl = "{{router.getPath("hr_budgetGroups")}}?action=list";
    
    $valKeys = [];
    {% if valKeys %}
        {% for val,keys in valKeys %}
            $valKeys['{{val}}'] = {{keys|json_encode|raw}};
        {% endfor %}                                        
    {% endif%}
    
            
    
        
    $(document).ready(function(){                
                   
        initExpenseGrid();
        initBudgetGrid();
        
    });
    
function initExpenseGrid()
{
     $expenseDatagrid = $('#expenseDatagrid').DataTable({
            ajax: {
                "url" : $DataTableUrl,
                "complete" : function(d)
                {                                        
                    hideLoader();
                }
            },
            "order": [[ 0, "desc" ]],            
            "columns": [                    
                    { "data" : "ExpenseName" ,render: function ( data, type, row ) {
                        return replacements("ExpenseName",data);
                    }},
                    { "data" : "DefaultPolicykey" ,render: function ( data, type, row ) {
                        return replacements("DefaultPolicykey",data);
                    }},
                    { "data" : "Trips" ,render: function ( data, type, row ) {
                        return replacements("Trips",data);
                    }},
                    { "data" : "IsMandatory" ,render: function ( data, type, row ) {
                        return replacements("IsMandatory",data);
                    }},
                    { "data" : "ExpenseId" ,render: function ( data, type, row ) {                            
                        $str = "";
                        $str =  "<a onclick='return loadModalURL(this)' title='Edit' class='btn btn-danger btn-xs' href='#' remote='{{request.getPath()}}?action=form&pk="+row.ExpenseId+"'><i class='zmdi zmdi-edit'></i></a>";
                        $str = $str + " <a onclick='return loadModalURL(this)' 'title='Manage' class='btn btn-default btn-xs'  href='#' remote='{{router.getPath('hr_expenseRepellents')}}?action=form&pk="+row.ExpenseId+"'><i class='zmdi zmdi-layers'></i></a>";                        
                        return $str;
                }}
            ],                        
        
        responsive: !0,
        
        }); 
}
 
function initBudgetGrid()
{
     $budgetDatagrid = $('#budgetDatagrid').DataTable({
            ajax: {
                "url" : $budgetUrl,
                "complete" : function(d)
                {                                        
                    hideLoader();
                }
            },
            "order": [[ 0, "desc" ]],            
            "columns": [                    
                    { "data" : "GroupName" ,render: function ( data, type, row ) {
                        return replacements("GroupName",data);
                    }},
                    {#{ "data" : "Groupcode" ,render: function ( data, type, row ) {
                        return replacements("Groupcode",data);
                    }},#}
                    { "data" : "Notes" ,render: function ( data, type, row ) {
                        return replacements("Notes",data);
                    }},
                    { "data" : "Status" ,render: function ( data, type, row ) {
                        return replacements("Status",data);
                    }},
                    { "data" : "Maxlimit" ,render: function ( data, type, row ) {
                        return replacements("Maxlimit",data);
                    }},
                    { "data" : "Bgid" ,render: function ( data, type, row ) {                            
                        $str = "";
                        $str =  "<a onclick='return loadModalURL(this)' title='Edit' class='btn btn-danger btn-xs' href='#' remote='{{router.getPath('hr_budgetGroups')}}?action=form&pk="+row.Bgid+"'><i class='zmdi zmdi-edit'></i></a>";
                        $str = $str + " <a onclick='return loadModalURL(this)' 'title='Manage' class='btn btn-default btn-xs'  href='#' remote='{{router.getPath('hr_manageBudget')}}?action=form&pk="+row.Bgid+"'><i class='zmdi zmdi-layers'></i></a>";                        
                        return $str;
                }}
            ],                        
        
        responsive: !0,
        
        }); 
}
function loadExpenseGrid()
{
    showLoader();
    $expenseDatagrid.ajax.reload();
}
function loadBudgetGrid()
{
    showLoader();
    $budgetDatagrid.ajax.reload();
}
function replacements($key,$val)
{        
    if($valKeys[$key] != undefined)
    {    
        return $valKeys[$key][$val];
    }    
    else {
        return $val;
    }
}

</script>    




{% endblock %}
