{% extends "app.twig" %}
{% block title %} Audit {% endblock %}
{% block page %}
    <div class="row m-b-15">                
        <div class="col-sm-12">
            <div class="project-sort pull-right">
                <div class="project-sort-item">
                    <form class="form-inline" id="gridFilters" href="{{request.getPath()}}?action=list">
                        <div class="form-group">
                            <label>Month :</label>                            
                            <select class="form-control input-sm" name="month" id="month">
                                {{monthList|raw}}                            
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Status :</label>
                            <select class="form-control input-sm" id="expStatus" name="expStatus">                                
                                <option value="3" {% if stage == 3 %} selected="selected" {%endif%}>Received for Audit</option>
                                <option value="6" {% if stage == 6 %} selected="selected" {%endif%}>Audited</option>
                                <option value="8" {% if stage == 8 %} selected="selected" {%endif%}>Validated</option>
                            </select>
                        </div>
                           
                        {% if tripCurrency %}    
                        <div class="form-group">
                            <label>Currency :</label>                            
                            <select class="form-control input-sm" name="currency" id="currency">
                                {{tripCurrency|raw}}                            
                            </select>
                        </div>
                        {%endif%}
                    </form>
                    
                </div>
                            
            </div>
        </div><!-- end col-->
    </div>
    <div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">            
            
            <div class="btn-group m-b-30">
            
            </div>

            <table id="datagrid" class="table table-striped table-bordered dt-responsive nowrap buttonTable" cellspacing="0" width="100%">
                <thead>
                    <tr>
                       <th><input type='checkbox' class='checkall' onclick="checkToggle()" /></th>
                        {#<th>Validate</th>#}
                        <th>Sr No.</th>
                        <th>Designation</th>
                        <th>Employee</th>                        
                        <th>Requested</th>
                        <th>Approved</th>
                        <th>Claims Entries</th>  
                        <th>Action</th>
                    </tr>
                </thead>                                
            </table>
            <div class="">
                <a href='#' class="btn btn-success m-b-5 auditBtn" id="auditBtn" matchStatus = "4" moveStatus="10"> Proceed for Payment</a>
                <a href='#' class="btn btn-danger m-b-5 auditBtn" id="auditBtn" matchStatus = "4" moveStatus="9"> Hold/Resign</a>              
               
           </div>
        </div>
    </div>
        
</div>
<!-- end row -->
{% endblock %}
{% block script %}
    <script type ='text/javascript'>
        
        $ExpenseUrl = "{{request.getPath()}}?action=list&";
        $moveUrl = "{{request.getPath()}}?action=move";
        $validateUrl = "{{request.getPath()}}?action=validate";
        $dtable = "";
        $(document).ready(function(){
            $("#gridFilters select").change(function(){      
               
               getExpenses();
                
            });
            
           $(".auditBtn").hide();                 
            
            $dtable = $('#datagrid').DataTable({
            ajax: $ExpenseUrl+$("#gridFilters").serialize(),                             
            "columns": [
                
                { "data": "ExpId","render": function ( data, type, row ) {
                    if($("#expStatus").val() == 8){
                        $(".auditBtn").show();
                        return "<input type='checkbox' class='expChk' name='ExpId["+row.id+"]' ExpId="+row.id+" />";
                    }else{
                        $(".auditBtn").hide();
                        return "";
                    }
                }},
                {#{ "data": "ExpId","render": function ( data, type, row ) {
                    $data = $("#month").val();
                    if(row.readflag == 1){
                        
                        return '<div class="checkbox checkbox-primary checkbox-single checkbox-circle"><input onclick="updateValidate('+row.id+','+row.readflag+','+$("#expStatus").val()+',`'+$data+'`)" empid='+row.id+' readflag='+row.readflag+' type="checkbox" class="checkread" id="singleCheckbox21_'+row.id+'" checked="" aria-label="Single checkbox Two"><label></label></div>';
                    }else{
                        return '<div class="checkbox checkbox-primary checkbox-single checkbox-circle"><input onclick="updateValidate('+row.id+','+row.readflag+','+$("#expStatus").val()+',`'+$data+'`)" empid='+row.id+' readflag='+row.readflag+' type="checkbox" class="checkread" id="singleCheckbox21_'+row.id+'" aria-label="Single checkbox Two"><label></label></div>';
                    }
                    
                }},#}
                
                { "data" : "srno"},
                { "data" : "id" ,render: function ( data, type, row ) {                            
                        
                        return row.Designation.Designation;
                }},
                { "data" : "id" ,render: function ( data, type, row ) {                            

                        return row.Emp.FirstName + " " + row.Emp.LastName + " | "+ row.Emp.EmployeeCode;
                }},
                { "data" : "TotalReq" ,render: function ( data, type, row ) {                            

                        return data;
                }},
                { "data" : "TotalApr" ,render: function ( data, type, row ) {                            

                        return data;
                }},
                { "data" : "Claims" ,render: function ( data, type, row ) {                            

                        return data;
                }},
               
            
                { "data" : "Claims" ,render: function ( data, type, row ) {                            
                        if($("#expStatus").val() == 3){
                            return "<a href='{{router.getPath("hr_audit",{id:""})}}?month="+row.month+"&status=3&employee="+row.Emp.EmployeeId+"&cur="+row.cur+"&action=load'><i class='fa fa-eye'></i></a>" ;
                        }else if($("#expStatus").val() == 6){
                            return "<a href='{{router.getPath("hr_audit",{id:""})}}?month="+row.month+"&status=6&employee="+row.Emp.EmployeeId+"&cur="+row.cur+"&action=load'><i class='fa fa-eye'></i></a>" ;
                        }else{
                            return "<a href='{{router.getPath("hr_audit",{id:""})}}?month="+row.month+"&status=8&employee="+row.Emp.EmployeeId+"&cur="+row.cur+"&action=load'><i class='fa fa-eye'></i></a>" ;
                        }
                }},
                
            
            ],
            dom: "Bfrtip",
            buttons: [{
                extend: "excel",
                className: "btn-sm"
            },{
                extend: "print",
                className: "btn-sm"
            }],
            responsive: !0,
            
            "rowCallback": function( row, data, dataIndex ) {
                
                    $(row).attr( 'emp', data.id);
                
            },
            "fnDrawCallback": function(settings, json) {
                    
                    $("#datagrid tr").click(function(){
     
                        clickrow(this);
        
                    });
                    hideLoader();
                     
            },
           });
           $(".checkread").click(function(){
               alert("F");
            });
            $(".auditBtn").click(function(){
                showLoader();
                $moveStatus = $(this).attr("moveStatus");
                //var rows = $dtable.fnGetNodes();
                var EmpId = [];
                $('input[type="checkbox"]:checked').each(function(idx,obj){
                                        
                    EmpId.push($(obj).attr('ExpId'));                    
                });                
                if(EmpId.length > 0)
                {
                    quickPost($moveUrl+"&"+$("#gridFilters").serialize(),{"EmpId" : EmpId,"moveStatus":$moveStatus},function(res){                                                
                        getExpenses();
                        if($moveStatus == 9){
                            toastr["info"]("Expense put on Hold");
                        }else{
                            toastr["info"]("Expense audited successfully and sended to finance team.");
                        }
                        hideLoader();
                    });
                }else{
                    toastr["error"]("Please select atleast one expense.");
                    hideLoader();
                }
                
            });
            $("#auditBtnold").click(function(){
                
                $emps = [];
                $(".expChk:checked").each(function(){
                    
                    $emp = $(this).attr("emp");
                    $emps.push($emp);
                                        
                });
                
                $data = $("#gridFilters").serializeArray();
                $data.push({name:"emps",value: $emps.join(",") });
                
                quickPost($moveUrl,$data,function(data){
                    getExpenses();
                });
       
            });
        
        });
        function updateValidate($empid,$readflag,$status,$date){
            if($readflag == 1){
                $newreadflag = 0;
            }else{
                $newreadflag = 1;
            }
            alert($date); 
            showLoader();
            quickPost($validateUrl,{"empid":$empid,"readflag":$newreadflag,"status":$status,"date":$date},function(data){
                console.log(data);
                hideLoader();
            });
        }
       function checkToggle()
        {
           $flag = $(".checkall").is(":checked");
           $('.expChk').prop('checked',$flag);
        }
       
       function clickrow()
       {
           
       }
       function getExpenses()
       {   
           showLoader();
           $dtable.ajax.url( $ExpenseUrl+$("#gridFilters").serialize() ).load()   
       }
      
                
    </script>
{% endblock %}    {# empty Twig template #}
